<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="club.ccit.camerax">
    <!--摄像头权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--读写存储权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--录制音频权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application>
        <!--        拍照页面-->
        <activity android:name=".PhotographActivity" />
        <!--        录制视频页面-->
        <activity android:name=".VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".permission.PermissionActivity" />
    </application>
</manifest>